@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root {
    --red: #d01c28;
    --gray: #2e2e2e;
}


* {
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
}


button {
    all: unset;
    padding: 6px 15px;
    background: var(--red);
    height: 32px;
    color: white;
    font-weight: 500;
}

.container {
    margin: 0 auto;
    max-width: 1280px;

}

nav {
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.hero {
    display: flex;
    align-items: center;
    height: 100vh;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-top: 10px;
}
.hero h1 {
  font-weight: 600;
  line-height: 55px;
  font-size: 50px;
  padding-left: 10px;
  margin-top: 30px;

  
}
.hero p {
    font-weight: 400;
    color: var(--gray);
    max-width: 500px;
    padding: 10px;

}

.hero-btn {
   display: flex;
   gap: 20px;
   padding-left: 10px;
}

.hero-btn button {
    font-size: 10px;
}

.secondary-btn {
    background: transparent;
    color: var(--gray);
    border: 1px solid grey;
}

.shopping p {
    font-size: 15px;
    margin-bottom: 0px;
}

.brand-icons {
    display: flex;
    gap: 20px;
    padding-left: 5px;
}

.hero-image {
    margin-top: 120px;
    width: -250px;
    height: -250px;
    gap: 0px;
    opacity: 0px;
}

.hero {
    width: 900px;
    height: 450px;
    margin-top: 0px;
    left: 157px;
    gap: 0px;
    opacity: 0px;

}
